<!-- _form is replacing all our code before  becuase it was duplicated between edit and new. -->
<div class="backgroundthing">
<font color="orange">
<h1>New article?</h1>
</font>
</div>
<%= render 'form' %>
 
<%= link_to 'Back', articles_path %> |
<%= link_to 'Home', home_path %>